<div class="er-secure-fields">


  <form id="form-checkout" [class.display-none]="showLoader()">
      <div id="form-checkout__cardNumber" class="container"></div>
      <small class="error" id="cardNumber-error"></small>

      <input type="text" id="form-checkout__cardholderName" placeholder="Nombre del Tarjetahabiente"
          class="container" />
      <small class="error" id="cardholderName-error"></small>

      <div class="er-flex-row gap-8">
          <div class="er-flex-column">
              <div id="form-checkout__expirationDate" class="container"></div>
              <small class="error" id="expirationDate-error"></small>
          </div>

          <div class="er-flex-column">
              <div id="form-checkout__securityCode" class="container"></div>
              <small class="error" id="securityCode-error"></small>
          </div>
      </div>

      <!--    <select id="form-checkout__issuer" name="issuer">
        <option value="" disabled selected>Banco emisor</option>
      </select>
      <select id="form-checkout__installments" name="installments">
        <option value="" disabled selected>Cuotas</option>
      </select> -->
      <!--         <input type="email" id="form-checkout__email" name="email" placeholder="E-mail" /> -->

      <input id="token" name="token" type="hidden">
      <!--         <input id="paymentMethodId" name="paymentMethodId" type="hidden">
      <input id="transactionAmount" name="transactionAmount" type="hidden" value="100">
      <input id="description" name="description" type="hidden" value="Nome do Produto"> -->


  </form>



  <button class="er-button" (click)="createCardToken()" *transloco="let t; prefix: 'card'"
      [class.disabled-button]="!loaded()" [class.display-none]="showLoader()">
      {{t(loaded() ? 'continue' : 'wait') }}
  </button>

 
</div>


